body {
    padding: 15px 140px 5px 140px;
    margin: auto;
    width: 1440px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 140px;
    color: white;
    background: #040404;
  }
  .header-ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .header-ul li {
    list-style: none;
  }
  .header-ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  
  .header-profile {
    gap: 10px;
  }
  .header-profile i {
    color: white;
    font-size: 30px;
    margin-left: 40px;
  }

  /* Shop Container */

  .shop-container{
    padding: 20px 100px;
    text-align: center;
  }
  .shop-title{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .shop-des{
    color: rgb(96, 96, 96);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
  }

  .shop-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
  .shop-card{
    border: 1px solid rgb(150, 150, 150);
    border-radius: 8px;
    padding: 10px 10px;
  }
  .shop-card h3{
    color: rgb(96, 96, 96);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4px;
  }


  .shop-btn{
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10em;
    border: none;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 100ms linear;
    color: #0ebac5;
    position: relative;
    box-shadow: inset 0 2px 4px -1px rgb(0 0 0 / 0.1), 
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shop-btn:active {
    box-shadow: inset 0 0 0 4px #043b3f6b;
}

.shop-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #021620;
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 500ms ease-in-out;
    opacity: 0;
    animation:  100ms ease-in-out;
    transform: scaleX(2) scaleY(2);
}

.shop-btn:hover::before {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

@keyframes flash {
    0%{
        opacity: 1;
        transform: translate(45px);
    }
    100%{
        opacity: 0;
        transform: translate(0);
    }
}